@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
     

body {
    background-color: #DEDBD2; 
}


.center-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}


.btn {
    padding: 10px 20px; 
}

#font {
    font-family: 'Lilita One', sans-serif;
    font-size: 24px; 
    color: black;
}

#p{
    color: black;
}

.level-container {
            display: none;
        }
 
h1, p{
    font-family: ; 'Lilita One', sans-serif;
}       
        